/*Global*/
html {
    font-weight: bold;
    font-size: larger;
    color: tomato;
    background-color: aquamarine;
}

/*ID*/
#footer {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 200px;
        padding: 20px;
        text-align: right;
    }

#outputBibleBook {
    text-align: center;
}

#input {
    font-size: 2rem;
    text-align: center;
}

#title-h1 {
    font-size: 2rem;
    text-align: center;
}

/*Classes*/

.container {
    text-align: center;
}